@font-face {
  font-family: 'Poppins';
  font-style: thin;
  font-weight: 100;
  src: url('./assets/fonts/Poppins-Thin.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url('./assets/fonts/Poppins-ThinItalic.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: light;
  font-weight: 200;
  src: url('./assets/fonts/Poppins-ExtraLight.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url('./assets/fonts/Poppins-ExtraLightItalic.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: light;
  font-weight: 300;
  src: url('./assets/fonts/Poppins-Light.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('./assets/fonts/Poppins-LightItalic.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Poppins-Regular.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/Poppins-Italic.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: medium;
  font-weight: 500;
  src: url('./assets/fonts/Poppins-Medium.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('./assets/fonts/Poppins-MediumItalic.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 600;
  src: url('./assets/fonts/Poppins-SemiBold.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('./assets/fonts/Poppins-SemiBoldItalic.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 700;
  src: url('./assets/fonts/Poppins-Bold.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/fonts/Poppins-BoldItalic.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 800;
  src: url('./assets/fonts/Poppins-ExtraBold.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 900;
  src: url('./assets/fonts/Poppins-Black.ttf')
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('./assets/fonts/Poppins-BlackItalic.ttf')
}

:root {
  font-family: 'Poppins';

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --g-primary-color: #052F5F;
  --g-primary-offset-color: #005377;
  --g-secondary-color: #D5C67A;
  --g-accent-color: #06A77D;
  --g-normal-text-color: #f9efef;
  --g-contrast-text-color: #052F5F;
  --g-background-color: #f9efef;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
